*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/

.DS_Store
Thumbs.db

/build
/captures
.externalNativeBuild
.cxx
.gradle/

local.properties

serviceAccountKey.json
firebase-adminsdk*.json
.env
.env.*

target/
logs/
*.log

.vscode/